$main-color-dark: #120338;
$main-color-normal: #22075E;

$stripe-color: #FF7864;

$black-color: rgba(0, 0, 0, 0.85);
$gray-color: rgba(0, 0, 0, 0.45);

$light-gray-color: #F8F8F8;
$light-gray-color-selected: #F2F2F2;
$light-gray-border-color: #E9E9E9;
$gray-color: #C4C4C4;

$green-color: #2DD881;